@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pumpkin-cream: #ffefe1;
  --pumpkin-green: #00a666;
  --pumpkin-green-dark: #114421;
  --pumpkin-orange: #ff8c00;
  --pumpkin-body: #224127;
  --pumpkin-accent-bar: #ea9125;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-pumpkin-cream: var(--pumpkin-cream);
  --color-pumpkin-green: var(--pumpkin-green);
  --color-pumpkin-green-dark: var(--pumpkin-green-dark);
  --color-pumpkin-orange: var(--pumpkin-orange);
  --color-pumpkin-body: var(--pumpkin-body);
  --color-pumpkin-accent-bar: var(--pumpkin-accent-bar);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-anonymous), ui-monospace, monospace;
}

.font-bakbak {
  font-family: var(--font-bakbak), sans-serif;
}

.font-gasoek {
  font-family: var(--font-gasoek), sans-serif;
}
